* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #31393c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
p {
    cursor: default;
}

h2 {
    font-size: 4vw;
    font-weight: bold;
    color: #fdca40;
}

p,
li {
    font-weight: lighter;
    font-size: 1.8vw;
    line-height: 2.2vw;
    color: white;
}

li {
    margin-left: 2vw;
}

a {
    color: white;
}

a:hover {
    color: #2176ff;
}

img {
    box-shadow: 0.3vh 0.3vh 0.9vh rgba(0, 0, 0, 0.7);
    width: 100%;
}
